/*-- scss:defaults --*/

// Import fonts (mainfont is defined in _quarto.yml)
@import 
url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@300&family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

// Colors

$steel-blue: #78adc9;
$light-purple: #8e90d2;
$light-green: #a1d28e;
$brown: #90511d;
$pale_avocado_green: #8ea879;
$super_light_green: #e8ede1;
$black: #000000;
$white: #ffffff;
$complimentary_blue: #798ea8;
$celadon: #AFE1AF;
$pastel_green: #C1E1C1;
$robin_egg_blue: #96DED1;
$Ultramarine: 	#0437F2;
$Burnt_Sienna: 	#E97451;
$Ochre: 	#CC7722;
$Jungle_Green: 	#2AAA8A;
$Cornflower_Blue: 	#6495ED;
$Denim: 	#6F8FAF;
$Midnight_Blue: 	#191970;
$cetacean_blue: #001440;

// Other Cool Colors
$dark-purple: #49416D;
$dark-pink: #A94282;
$pale-purple: #F8EBFF;
$blue: #99C0FA;
$ivory: #FCFBED;
$pink-lavender: #E6B9D4;
$cherry-blossom: #FFB2C7;
$mimi-pink: #FFE3EA;
$cream: #F4F3EE;
$gray-0: #d6d6d6;
$gray-1: #BCB8B1;
$gray-2: #8A817C;
$gray-3: #222823;
$gray-4: #191919;
$black: #08090A;
$gray: #0d0d0d;

// Fonts
$font-size: 25px;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

// Base Document Colors 

$navbar-bg: $Midnight_Blue; //navbar
$navbar-fg: $mimi-pink; // navbar foreground elements
$navbar-hl: $robin_egg_blue; // highlight color when hovering over navbar links
$body-bg: $cetacean_blue; // page background 
$body-color: $mimi-pink; // page text 
$footer-bg: $light-purple; // footer 
$link-color: $robin_egg_blue; // hyperlinks 


// Inline code
$code-bg: $black; // inline code background color
$code-color: $robin_egg_blue; // inline code text color

// Code blocks
$code-block-bg: $black; // code block background color


/*-- scss:rules --*/

/* ELEMENT SELECTORS */

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 3px;
  font-weight: 700;
  color: $mimi-pink;
}

h3 {
  font-size: 35px;
}

body {
  line-height: 1.5;
  font-size: 19.5px;
}

/* CLASS SELECTORS (self-defined) */

.custom-subtitle {
  font-size: 22px;
  margin-bottom: 0.15em;
}

.custom-subtitle2 {
  font-size: 20px;
  font-style: italic;
}

.large-text {
  font-size: 20px;
}

.small-text {
  font-size: 17px;
}

.extra-small-text{
  font-size: 14px;  
}

.topbr {
    display: block;
    margin-top: 1em;
}

.center-text {
  text-align: center;
  left: 50%;
}

/*.dark-gray-text{
  color: $dark-gray;
}*/

.container { // for centering buttons
  height: 20px;
  position: relative;
}

.center { // for centering buttons
  //width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button-styling {
  background: $pink;
  border-color: $gray;
  color: $gray;
  border-radius: 0.6rem;
  border-width: thin;
  font-size: 18px;
  letter-spacing: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 6px;
  padding-left: 6px;
  transition-duration: 0.4s;
}

.button-styling:hover {
  background-color: $white; 
}

.gray-italic {
  color: $gray;
  font-style: italic;
  font-size: 17px;
}

.quote-text-bg {
  background-color: rgba(166, 164, 161, 0.4);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 8px;
  border-radius: 15px;
}


.about-link-text { // button text size (landing page)
  font-size: 18px;
}

.bi { // button icon size (landing page)
  font-size: 20px;
}


.card {
  background-color: $white;
  //border-radius: 5.25em;
}

.description {
  font-size: 25px;
}
